.navbar-brand{
font-family: 'Ubuntu', sans-serif;
font-size: 2em;
font-weight: bold;
color: #fff;
}

.custom-nav .custom-nav-item a
{
    color: #fff !important;
}
.custom-nav-item:hover
{
    background-color: #f8142b;
    border: solid #f8142b 1px;
    border-radius: 10px;
}
.remove-vid-marg
{
   margin: 0px;
   padding: 0px; 
}

.vid-parent
{
    position: relative;
}
video
{
 width: 100%;
 height: 100%;
 size: fixed;
}
.vid-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    z-index: 1;
    opacity: 0.8;
}
.vid-content
{
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 35%;
    text-align: center;
}
.bottom-banner
{
    color: #fff;
    padding: 10px;
}
/*#row-card
{
    width: 100%;
    height: 50%;
    padding: 10px;
    margin-top: 10px;
}
.card-img-top
{
    height: 30%;
    width: 30%;
}*/

a.social-hover:hover
{
    padding: 5px 100px;
    text-decoration: none;
    background-color: rgb(95,93,93);
}







@media screen and (min-width:0px) and (max-width:700px)
{
    .my-content,
    .txt-banner
    {
        display: none;
    }
    .vid-content
    {
        top: 12%;
        left:60%;
    }

    .custom-nav .custom-nav-item a
    {
     padding: 10px 20px;
        
    }

    .custom-nav-item :hover
    {
        background-color: none;
        border: none;
        border-radius: none;
    }
}